.Performance {
  @apply flex items-center bg-slate-200 rounded-xl w-full border-2 border-solid border-slate-300 overflow-x-hidden p-4 gap-4;
}

.Performance--has-transit {
  @apply border-t-purple-300;
  border-radius: 0 0 0.5rem 0.5rem;
}

.Performance--image {
  @apply object-cover aspect-square rounded-full m-0;
  max-height: 50%;
}

.Performance--container {
  @apply w-full flex flex-col text-center;
}

.Performance--title {
  @apply text-xl font-semibold m-0;
}

.Performance--stage {
  @apply text-sm text-slate-500 font-semibold mb-1;
}

.Performance--time {
  @apply text-xs text-slate-500 m-0;
}

@media (min-width: 1024px) {
  .Performance {
    @apply h-full;
  }

  .Performance--has-transit {
    @apply border-t-slate-300 border-s-purple-300;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .Performance--container {
    @apply text-start;
  }
}
