@tailwind base;
@tailwind components;
@tailwind utilities;

.App--main-grid {
  @apply grid;
  height: 100dvh;
  height: 100vh;
  grid-auto-rows: 3.5rem 2.5rem auto 3.5rem;
  grid-template-areas:
    "header"
    "subheader"
    "main"
    "footer";
}

.HomeView--main-container {
  @apply overflow-y-auto grid h-full;
  grid-area: main;
  grid-template-columns: 4.5rem repeat(2, 1fr);
  grid-template-areas: "chronology current stage";
}
