.Background {
  @apply flex flex-col bg-slate-50 -z-50 overflow-y-auto;
  grid-area: chronology / chronology / stage / stage;
}

.Background--division {
  @apply w-full mt-3 border border-solid border-t-2 border-y-0 border-r-0;
  height: var(--MOBILE);
}

.Background--divisions--odd {
  @apply border-slate-500;
}

.Background--divisions--even {
  @apply border-slate-300;
}

@media (min-width: 1024px) {
  .Background {
    @apply flex-row ms-12;
    grid-area: stage / stage;
    overflow-y: unset;
  }

  .Background--division {
    @apply h-full m-0 border-t-0 border-l-2 border-r-0;
    width: var(--DESKTOP);
  }
}
