.DesktopDashboard--main-container {
  @apply grid w-full overflow-auto;
  max-width: 100vw;
  grid-area: main;
  grid-template-rows: auto 1fr repeat(1, 1fr);
  grid-template-areas:
    "chronology"
    "current-title"
    "current"
    "stage-0"
    "stage-1"
    "stage-2"
    "stage-3"
    "stage-4"
    "stage-5"
    "stage-6"
    "stage-7"
    "stage-8"
    "stage-9"
    "stage-10"
    "stage-11"
    "stage-12"
    "stage-13"
    "stage-14";
}

.DesktopDashboard--title {
  @apply text-slate-700 font-bold text-xl p-4 m-0 sticky left-0 bg-slate-50 top-0 z-50;
  width: calc(100vw - 14px);
}

.DesktopDashboard--current {
  @apply sticky pb-6 bg-slate-50 z-50 border-b-4 border-slate-300 border-solid shadow-lg;
  top: 3.75rem;
}
